body{
  margin-top: 50px;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(000,124,229,1) 100%) fixed;
  color: white;
}
input {
  background: rgba(0, 0, 255, 0);
  color: white;
  border: 1px solid white;
  font-size: 24px;
  border-radius: 10px;
  padding: 10px;
}
.node {
/*   stroke: #fff; */
/*   stroke-width: 1.5px; */
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.centered {
  margin: 0px auto;
  text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 7px;
  font: 12px sans-serif;
  background: black;
  color: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}
